<nav class="navbar bg-body-tertiary">
    <div class="container-fluid d-flex align-items-center">
        <a  [routerLink]="''"  class="navbar-brand"><img [src]="imgUrl" style="height: 60px; width: 210px;" alt="" (click)="recarregarPagina()"></a>
        <form class="d-flex ms-auto">
            <input [(ngModel)]="busca" [ngModelOptions]="{ standalone: true }" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button (click)="buscarProdutos()"class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>